* {
  font-family: "Patrick Hand", cursive;
}

.app-name {
  font-family: "Fredoka One", cursive;
  font-size: xx-large;
}

.row-content {
  margin: 0px auto;
  padding: 120px 0px 120px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.footer {
  background-color: #ebffed;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

#entrance-time:before {
  content: "Từ:";
  margin-right: 0.6em;
}

#exit-time:before {
  content: "Đến:";
  margin-right: 0.6em;
}

#entrance-date:before {
  content: "Ngày gửi:";
  margin-right: 0.6em;
}

#exit-date:before {
  content: "Ngày trả:";
  margin-right: 0.6em;
}

.title {
  padding-bottom: 30px;
}

p {
  font-size: 16px;
}

.form-group {
  padding-top: 10px;
}

.park-card {
  margin-top: 10px;
  margin-left: -30px;
}

.park-list-tab {
  background-color: #e5e5e5;
}
